@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    button,
    a {
        @apply transition-all duration-200 ease-in-out;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}